extends layout
block content
    main.container(role='main')
        h2 Add new coffee
        form(action="" method="POST")
            .form-group
                label(for='name') Name
                input.form-control(type="text" name="name" id="name")
            .form-group
                label(for='flavours') Flavours
                input.form-control(type="text" name="flavours" id="flavours")
            .form-group
                label(for='description') Description
                input.form-control(type="text" name="description" id="description")
            .form-group
                label(for='price') Price
                input.form-control(type="text" name="price" id="price")
            .form-group
                label(for='town') Town
                input.form-control(type="text" name="town" id="town")
            .form-group
                label(for='state') State
                input.form-control(type="text" name="state" id="state")
            .form-group
                label(for='country') Country
                input.form-control(type="text" name="country" id="country")
            button.btn.btn-primary(type='submit') Submit