<div class="col-md-12" id="spacer" style="margin: 55px 0;">
</div>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Coffee Details</h1>
    <p class="lead">You can view, add, update and delete coffee information here.</p>
  </div>
</header>
<div class="container">
  <div class="col-md-12" id="spacer" style="margin: 30px 0;">
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">List of coffees</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coffee of coffees;" (click)="selectCoffee(coffee)"
                [class.active]="coffee === selectedCoffee">
                <td>
                  {{coffee.name}}
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-warning" (click)="createNewCoffee()">New</button>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="container">
        <div class="row">
          <app-details-page [coffee]="selectedCoffee" [createHandler]="addCoffee" [updateHandler]="updateCoffee"
            [deleteHandler]="deleteCoffee"></app-details-page>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <p>home-list works!</p> -->

<!-- <section id="list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <ul>
          <li *ngFor="let coffee of coffees;">
            <a routerLink="/coffees/{{coffee._id}}">{{coffee.name}}</a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</section> -->

<!-- <ul>
    <li *ngFor="let coffee of coffees;">
        <a routerLink="/coffees/{{coffee._id}}">{{coffee.name}}</a>
    </li>
</ul> -->